.pHeading {
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 63px;
    color:black
}
.secHeading{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: black;
}
.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px auto;
    gap: 35px;
}
.smallpara{
    font-size: 14px;
}
.support{
    width: 32%;
    margin-left: 9.5%;
}
.pointsPara{
    width: 70%;
    margin-left: 9.5%;
}
.left{
    width: 75%;
}
@media (max-width:999px) {
    .mainContainer{
        flex-direction: column;
    }
}

@media (max-width:767px) {
    .left{
        width: 100%;
    }
    .support{
        width: 100%;
        margin-left: 8px;
    }
}

@media (max-width:378px) {
    .pHeading {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 63px;
        color:black
    }
}