.logosContainer{
    display: flex;
    background: #C32128;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
}

.footer{
    background: #C32128;
    padding: 73px 0;
}