.homeContainer {
  display: flex;
  flex-direction: column;
  padding: 94px 55px;
  gap: 18px;
  background-image: url('/Images/Home.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.primaryButton {
  background: #C32128;
  border-radius: 3px;
  width: 175px;
  height: 46px;
  border: none;
  color: white;
}

.primaryHeading {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 45px;
}

.FeaturesHeading {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  /* line-height: 30px; */
}

.FeaturesLink {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-decoration-line: underline;
  color: #C32128;
  cursor: pointer;
}
.FeaturesLink:hover{
  color: black;
}